<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="list-group">
          <li class="list-group-item flex-column align-items-start">
            <div class="row">
              <div class="col-md-1">
                <h1>1</h1>
              </div>
              <div class="col-md-11">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Token name (TKN)</h5>
                  <small>5%</small>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    1543 total burned
                  </div>
                  <div class="col-md-4">
                  <button type="button" class="btn btn-secondary">20 comments</button>
                  <button type="button" class="btn btn-danger">Burn</button>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item flex-column align-items-start">
            <div class="row">
              <div class="col-md-1">
                <h1>2</h1>
              </div>
              <div class="col-md-11">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Token name (TKN)</h5>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    1543 total burned
                  </div>
                  <div class="col-md-4">
                  <button type="button" class="btn btn-secondary">20 comments</button>
                  <button type="button" class="btn btn-danger">Burn</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="card">
            <div class="card-header">Token name (TKN)</div>
            <div class="card-body">
              <h5 class="card-title"> 1543 tokens</h5>
              <h6 class="card-subtitle mb-2 text-muted">0x897354ebe940d137c4040f62a793f39b2388f236</h6>

              <p class="card-text">Some angry message about bankeks.</p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="card">
            <div class="card-header">Token name (TKN)</div>
            <div class="card-body">
              <h5 class="card-title"> 1543 tokens</h5>
              <h6 class="card-subtitle mb-2 text-muted">0x897354ebe940d137c4040f62a793f39b2388f236</h6>

              <p class="card-text">Some angry message about bankeks.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript" src="{{url_for('static', filename='index.js') }}"></script>
</body>